<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.example.mobile.presentation">

    <application
        android:label="hhClone"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">

        <!-- android:theme="@style/Theme.hhClone" -->

        <activity
            android:name=".view.MainActivity"
            android:configChanges="keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>