<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:fullBackupContent="false"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"/>

</manifest>